<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <h1>You created a Contact!</h1>
    <p>{{ newcontact.getName }}</p>
    <p>{{ newcontact.getAddress }}</p>
    <p>{{ newcontact.getPhoneNumber }}</p>
    <p><a href='/'>Home</a></p>
</body>
</html>
